* {
  box-sizing: border-box;
}

body {
  background: rgb(235, 235, 235);
}

.piano {
  display: flex;
  width: 1062px;
  height: 350px;
  background-color: #f5f7f7;
  border: 1px solid black;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  font-size: 15px;
  text-transform: lowercase;
}

.black-key,
.white-key,
.white-key-gap {
  /* padding-top: 10px; */
  height: 50%;
  width: 30px;
  border-radius: 4px;
}

.black-key {
  background-color: rgb(15, 14, 14);
  color: white;
}

.white-key {
  background-color: rgb(255, 255, 255);
}

.white-key-gap {
  background-color: rgb(255, 255, 255);
  height: 50%;
  border: 1px solid #f5f7f7;
  width: 44.158px;
  border-top: none;
  border-bottom: black;
}

.white-key-gap:hover {
  background-color: #ebebeb;
}

.black-key:hover {
  background-color: rgb(59, 59, 59);
  height: 50%;
  width: 30px;
}

.white-key-gap:active {
  background-color: #f6dddb;
  transition: 0.5s;
}

.black-key:active {
  background-color: #edd6f6;
  transition: 1s;
}
